/* http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: repeating-linear-gradient(45deg, #7a7564, #6c583a 1em, #7a7564 1em, #6c583a 10em);
}

html, body {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial", sans-serif;
  padding-bottom: 10px;
}

h1 {
  font-size: 4rem;
  background-color: #f0f14c;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.5rem;
  padding-left: 10px;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding: 10px;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}

.hero {
  width: 100%;
  height: auto;
}

.logo {
  width: 75px;
  height: 75px;
  vertical-align: bottom;
}

header nav {
  display: inline-flex;
  margin: 15px 0;
  border-bottom: 1px solid #f0f14c;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header nav ul li {
  padding: 10px;
  background-color: #3f3a2f;
  border: 1px solid #f0f14c;
}
header nav ul li a {
  color: #f0f14c;
  text-decoration: none;
  font-size: 2rem;
}

#main {
  flex: 1;
}

.about {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.gallery img {
  width: auto;
  height: 100px;
  padding: 10px;
  object-fit: contain;
}

.person {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}
.person img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.person .center-top {
  object-position: center top;
}
.person .center-eighty-percent {
  object-position: center 80%;
}

#footer {
  background-color: #3f3a2f;
  color: #f0f14c;
  border: #f0f14c;
  padding: 10px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#footer p {
  padding-bottom: 0;
}