*
    box-sizing: border-box

html
    font-size: 62.5%
    background: $gradient-background

html, body
    font-family: 'Roboto', sans-serif

body
    display: flex
    min-height: 100vh
    flex-direction: column

body
    background-color: #FFFFFF

h1, h2, h3, h4, h5, h6
    font-family: 'Arial', sans-serif
    padding-bottom: 10px

h1
    font-size: 4rem
    background-color: $h1-bg
    text-align: center
    padding: 10px
    margin-bottom: 10px

h2
    font-size: 3.2rem

h3
    font-size: 2.5rem
    padding-left: 10px

p
    line-height: 1.5
    font-size: 1.6rem
    padding: 10px

.container
    max-width: 800px
    width: 100%
    margin: 0 auto
    @media ($phone)
        width: 90%