header
    nav
        display: inline-flex
        margin: 15px 0
        border-bottom: 1px solid $nav-border
        ul
            display: flex
            flex-direction: row
            justify-content: space-around
            align-items: center
            
            li
                padding: 10px
                background-color: $nav-link-bg
                border: 1px solid $nav-border
                
                a
                    color: $nav-font-color
                    text-decoration: none
                    font-size: 2rem