#main
    flex: 1

.about 
    width: 90%
    height: auto
    margin: 0 auto

.gallery
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    img
        width: auto
        height: 100px
        padding: 10px
        object-fit: contain

.person 
    display: flex
    flex-direction: row
    padding: 10px
    align-items: center

    img
        height: 100px
        width: 100px
        border-radius: 50%
        object-fit: cover

    .center-top
        object-position: center top

    .center-eighty-percent
        object-position: center 80%