header#header
  if title === 'home'
    img(src='/img/K2C.png' alt='K2C logo' class='hero')
  else
    img(src='/img/K2C.png' alt='K2C logo' class='logo')
  nav#nav
    ul
      li
        a(href="index.html") Home
      li
        a(href="services.html") Services
      li
        a(href="about.html") About Us
      li
        a(href="gallery.html") Photos