- let title = "home"
doctype html
html
  include head.pug
  body(class="container")
    include header.pug
    main#main
        h1 K2C Wildlife Encounters
        p Have a snake in your yard? Weird animal sounds in your attic? Opossum in your crawlspace? We are licensed Nuisance Wildlife Control Operators in No VA. Limited availability, as we are both high school science teachers. Fees are intentionally low, just to cover our expenses for licenses, insurance, etc. Not an income source for us, just a passion for the wildlife and helping our human neighbors.
    include footer.pug